* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  ::selection {
    color: black;
    background-color: #bea060;
  }
  header {
    width: 100%;
    height: 160vh;
    background-color: black;
    display: flex;
  }
  .header-left-side { 
    padding: 0 0 0 90px;    
    color: white;
  }
  .header-left-side h1 {
    color: #bea060;
    line-height: 1.0em;
    font-size: 80px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 400 ;
  }
  .header-left-side h2 {
    color: #bea060;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px;
  }
  .header-left-side p {
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color: #c1bfbf;
    line-height: 2;
  }
  .header-left-side b {
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color: #c1bfbf;
    line-height: 2;
  }
  button {
    padding: 20px 10px;
    border: 2px solid #bea060;
    background: transparent;
    width: 57%;
    color: white;   
    margin-right: 15px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  button:hover {
    background-color: #bea060;
    transition: 0.3s;
  }
  .btn {
    width: 97%;
    background-color: #bea060;
  }
  .header-left-side h3 {
    color: #c1bfbf;
    padding-top: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  .header-right-side img {
    width: 670px;
    height: 884px;
    margin-top: 15%;
    border-radius: 30px;
  }
  .right-side {
    position: absolute;
    top: 20%; 
    right: 20px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    color: #c1bfbf;
    margin-right: 20px;
  }
  .mes img {
    width: 400px; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    padding-bottom: 20px ;
  }
  .sjec img {
    width: 400px; 
    border-radius: 5px;
    margin-bottom: 20px; 
  }

  .education-header-left-side {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.6 ), rgba(0, 0, 0, 0.5)), 
    url('imgs/group.jpg'); 
    height: auto;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%; 
    color: white; 
    display: flex;
    color:#bea060;
    line-height: 1.0em;
    font-size: 40px;
    justify-content: left; 
    align-items: center;
    padding-bottom: 300px;
    padding-left:20px;
  }
  .right-side p{
    margin-bottom: 20px;
  }
  .experience-header-left-side {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('imgs/Experience.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0 20px;
    color: #bea060;
    font-size: 40px;
    position: relative;
  }
  
  .left-text {
    text-align: left;
    align-content: center; 
  }
  
  .right-text {
    color: white; 
    
    font-weight: 100;
    font-size: 50px;
    padding-right: 40px;
    padding-top: 20px;
  }
  .right-text p {
     margin-bottom: 200px;
  }
  .right-text h1{
    padding-bottom:20px;
    
  }